In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\vaishnavi\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np

In [4]:
np.mean([1,2,3,4,5,6])

3.5

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vaishnavi\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\vaishnavi\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vaishnavi\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vaishnavi\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\vaishnavi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\vaishnavi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd #as - aliance

In [4]:
d = {'A': [1,2,3,4,5] ,
     'B' : [100,200,300,400,500]}

In [5]:
pd.DataFrame(d)

   A    B
0  1  100
1  2  200
2  3  300
3  4  400
4  5  500

In [6]:
pd.read_csv('addresses.csv')

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [7]:
pd.read_csv('addresses.csv',index_col=[1,2,3,4,5])

,,,,,id,postal_code,country
location_id,address_1,address_2,city,state_province,,,
1,2600 Middlefield Road,NaN,Redwood City,CA,1,94063,US
2,24 Second Avenue,NaN,San Mateo,CA,2,94401,US
3,24 Second Avenue,NaN,San Mateo,CA,3,94403,US
4,24 Second Avenue,NaN,San Mateo,CA,4,94401,US
5,24 Second Avenue,NaN,San Mateo,CA,5,94401,US
6,800 Middle Avenue,NaN,Menlo Park,CA,6,94025-9881,US
7,500 Arbor Road,NaN,Menlo Park,CA,7,94025,US
8,800 Middle Avenue,NaN,Menlo Park,CA,8,94025-9881,US
9,2510 Middlefield Road,NaN,Redwood City,CA,9,94063,US
10,1044 Middlefield Road,NaN,Redwood City,CA,10,94063,US
11,2140 Euclid Avenue.,NaN,Redwood City,CA,11,94061,US
12,1044 Middlefield Road,2nd Floor,Redwood City,CA,12,94063,US
13,399 Marine Parkway.,NaN,Redwood City,CA,13,94065,US
14,660 Veterans Blvd.,NaN,Redwood City,CA,14,94063,US
15,1500 Valencia Street,NaN,San Francisco,CA,15,94110,US
16,1161 South Bernardo,NaN,Sunnyvale,CA,16,94087,US
17,409 South Spruce Avenue,NaN,South San Francisco,CA,17,94080,US
18,114 Fifth Avenue,NaN,Redwood City,CA,18,94063,US
19,19 West 39th Avenue,NaN,San Mateo,CA,19,94403,US
21,123 El Camino Real,NaN,Belmont,CA,20,94002,US
22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,21,94103,US

In [8]:
data = pd.read_csv('addresses.csv',names=['A','B','C','D','E'])

In [10]:
data.head()

,,,A,B,C,D,E
id,location_id,address_1,address_2,city,state_province,postal_code,country
1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US

In [11]:
data.sample()

                         A           B   C           D   E
8 8 800 Middle Avenue  NaN  Menlo Park  CA  94025-9881  US

In [12]:
data.head()

,,,A,B,C,D,E
id,location_id,address_1,address_2,city,state_province,postal_code,country
1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US

In [13]:
data.sample(5)

                              A              B   C           D   E
15 15 1500 Valencia Street  NaN  San Francisco  CA       94110  US
16 16 1161 South Bernardo   NaN      Sunnyvale  CA       94087  US
8  8  800 Middle Avenue     NaN     Menlo Park  CA  94025-9881  US
6  6  800 Middle Avenue     NaN     Menlo Park  CA  94025-9881  US
2  2  24 Second Avenue      NaN      San Mateo  CA       94401  US